/*This is a stylesheet*/
/*cant use html in css and visaversa*/

body{
    font-size: 16px;
    background-color: white;
    width: 800px;
    border: black;
    padding: 50px;
    margin: auto;}


/*FONTS*/
/* put google front text here*/
/*view source to see other websites-simple*/


/*TYPOGRAPHY*/

h1{
    
    font-size: 160%;
    color: darkorange;
    padding: 20px;
    border: 2px solid black;
    width: 759px;
    float:inherit;
   font-family: 'Rozha One', serif;}

h2{
    color:darkcyan;
    font-size: 170%;
    font-weight: bold;
    padding: 20px;
    float:none;
    font-family: 'Rozha One', serif;}

h3{
    color: darkcyan;
    font-size: 150%;
    font-weight: bold;
    padding: 15px;
    float:none;
font-family: 'Rozha One', serif;}

h4{
    color: darkcyan;
    color: darkorange;
    font-size: 100%;
    font-weight: bold;
    padding: 10px;
    float: none;
font-family: 'Halant', serif;}

.p1{
    color:darkorange;
    padding: 20px;
    border: 5px solid white;
    margin:auto;
    float: inherit;
    font-family: 'Halant', serif;}


/*IMAGES*/

div.image{
    width: 100%;
    height: 100%;}

.headingimg{width: 100%;
height:auto;}

.captiancookrock{
    width: 100%;}

.frontengineersoffice{
    transform: rotate(90deg);
	position:static;
	width:100%;
	height:auto;
    border-radius:8px;
    padding-top: 15%;
    padding-bottom: 15%;
    float: inherit;}

.gravestone{transform: rotate(90deg);
	position:static;
	width:100%;
	height:auto;
    border-radius:8px;
    padding-top: 20%;
    float: inherit;
    margin-left: 10%;}

.engineersoffice{
transform: rotate(90deg);
	position:static;
	width:100%;
	height:auto;
    border-radius:8px;
    padding-top: 15%;
    padding-bottom: 15%;
    float: inherit;}

.kingstonpier{
    width: 100%;}

.boatsheds{
transform: rotate(90deg);
	position:static;
	width:100%;
	height:auto;
    border-radius:8px;
    padding-top: 15%;
    padding-bottom: 15%;
    float: inherit;}

.barricsandstore{
width:100%;}

.gaolentrence{
transform: rotate(90deg);
	position:static;
	width:100%;
	height:auto;
    border-radius:8px;
    padding-top: 15%;
    padding-bottom: 15%;
    float: inherit;}

.barricplan{
width: 100%;}

.shoreline{
transform: rotate(90deg);
	position:static;
	width:100%;
	height:auto;
    border-radius:8px;
    padding-top: 15%;
    padding-bottom: 15%;
    float: inherit;}

/*NAVIGATION*/

nav ul li{
    display: inline-block;
    border: 1px solid white;
    padding: 5px 45px;
    color: inherit;
    font-size: 20px;
    float:left;
font-family: 'Rozha One', serif;}

nav li{
    display: inline-block;
    border: 1px solid white;
    margin: 20px;
    color: inherit;
    float:right;
font-family: 'Rozha One', serif;}

ul li{
    display: inline-block;
    border: 1px solid white;
    margin: 10px;
    color: inherit;
    color: darkorange;}

div.backtotop{
    float:right;}

a:hover{
    color: darkorange;
    outline-color: darkcyan;}
a:link{
    color: darkcyan;
    text-decoration: none;}
a:visited{
    color:darkcyan;
    text-decoration-color: darkorange;}
a:active{
    color: darkorange;}

/* use relative positions smartly, othher elements dont acknolewdge it when it repositions*/
/*position: relative;
top: 50px;*/
/* widths are always css, not html*/

/*in colour numbers the first pair is the red, the second pair is green and and third is the blue*/
